body {
    background-color: #FECEAB;
}

h1 {
    color: #E84A5F;
    font-family: 'Mountains of Christmas', cursive;
    font-weight: bold;
}

title {
    color: #E84A5F;
    font-family: 'Mountains of Christmas', cursive;
}

img {
    max-width: 45rem;
    /* margin-top: -10rem; */
    background-color: #99B898;
    border-radius: 30%;

}

.gift_img {
    position: relative;
}

.button {
    font-family: 'Mountains of Christmas', cursive;
    font-weight: bold;
    background-color: #FECEAB;
    color: #E84A5F;
    border-color: #FF847C;
}

.button-container {
    position: absolute;
    text-align: center;
    top: 19rem;
    left: 48rem;

}

.button-container::before {
    display: block;
}

/* color scheme */
/* green 99B898 */
/* yellow FECEAB */
/* orange FF847C */
/* red E84A5F */