{% extends "base.html" %}
{% block title %}Wishlist Ultimate Home{% endblock %}

{% block body %}
<div class="container">
    <div class="row">
        <div class="col text-center">
            <h1>Welcome to the Wishlist Ultimate!</h1>
        </div>
        <div class="row">

        </div>
    </div>
    <div class="container login-box text-center ">
        <img src="static\gift pink.png" class="rounded mx-auto d-block" alt="">
    </div>
</div>


{% block scripts %}{% endblock %}
{% endblock %}