{% extends "base.html" %}
{% block title %}Wishlist Ultimate Home{% endblock %}

{% block body %}
<div class="container">
    <div class="row">
        <div class="col text-center">
            <h1>Welcome to the Wishlist Ultimate!</h1>
        </div>
        <div class="row">
        </div>
    </div>
    <div class="gift_img text-center">
        <img src="static\gift pink.png" class="rounded" alt="">
        <div class="button-container">
            <a href="{{url_for('login_page')}}" class="btn btn-primary btn-lg button" role="button"
                data-bs-toggle="button">What's
                on your
                Wishlist?</a>
        </div>
    </div>
</div>


{% block scripts %}{% endblock %}
{% endblock %}