{% extends "base.html"%}
{% block title %}Login{% endblock %}


{% block body %}
{{ super() }}

<div>
    <div class="container">
        <h1 class="text_center">Login</h1>
        <div class="">
            <form class="form" action="GET" action="{{url_for('login_page')}}">
                {{ form.csrf_token }}
                <div class="form-floating">
                    {{ form.email(size=20) }}
                    {{ form.email.label }}
                </div>
                <div class="form-floating">
                    {{ form.password(size=20) }}
                    {{ form.password.label }}
                </div>
                <input type="submit" value="Login">
            </form>
        </div>
    </div>
</div>
{% endblock %}