{% extends "base.html"%}
{% block title %}Login{% endblock %}


{% block body %}
{{ super() }}
<h1 class="text_center">Login</h1>
<div>
    <div>
        <div>
            <form class="form" action="GET" action="{{url_for('login_page')}}"">
                {{ form.csrf_token }}
                {{ form.email.label }} {{form.email(size=20)}} 
                {{ form.password.label }} {{ form.password(size=20)}}
                <input type=" submit" value="Login">
            </form>
        </div>
    </div>
</div>
{% endblock %}